@charset "utf*-8";
/*Maria Rocafull Garcia 09/01/2019*/
body{
    background-color: darkgrey;
    font-family: sans-serif;
}
h1{
    margin: 0%;
    font-size: 4rem;
    text-align: center;
}
p{
    padding: 10px;
    font-size: 2rem;
}
p.Naranja{
    background-color: orange;
    text-align: center;
    border: 3px solid burlywood;
    position: absolute;
    top: 10%;
    left:10%;
    width: 75%; 
    height: 10%;
}
p.Verde{
    background-color: greenyellow;
    text-align: center;
    border: 3px solid green;
    position: absolute;
    top: 45%;
    left:35%;
    width: 35%; 
    height: 30%;
}
p.Amarillo{
    background-color: yellow;
    text-align: center;
    border: 3px solid yellowgreen;
    position: absolute;
    top: 25%;
    left:5%;
    width: 40%; 
    height: 20%;
}
p.Azul{
   background-color: aqua;
   text-align: right;
   border: aquamarine 3px solid;
   top: 25%;
   right: 5%; 
   width: 35%;
   height: 25%;
   position: absolute;
}
