@charset "utf*-8";
/*Maria Rocafull Garcia 09/01/2019*/
body{
    background-color: darkgrey;
    font-family: sans-serif;
}
h1{
    margin: 0%;
    font-size: 4rem;
    text-align: center;
}
p{
    padding: 10px;
    font-size: 1.5rem;
}
p.Naranja{
    background-color: hsl(40, 100%, 75%);
    text-align: center;
    border: 3px solid hsl(40, 40%, 35%);
    position: absolute;
    top: 10%;
    left:10%;
    width: 75%; 
    height: 10%;
    text-align: center;
}
p.Verde{
    background-color: hsl(120, 100%, 75%);
    text-align: center;
    border: 3px solid hsl(120, 40%, 35%);
    position: absolute;
    top: 45%;
    left:35%;
    width: 35%; 
    height: 30%;
    text-align: center;
    z-index: 2;
}
p.Amarillo{
    background-color: hsl(60, 100%, 75%);
    text-align: center;
    border: 3px solid hsl(60, 64%, 55%);
    position: absolute;
    top: 25%;
    left:5%;
    width: 40%; 
    height: 25%;
    text-align: left;
}
p.Azul{
   background-color: aqua;
   text-align: right;
   border: aquamarine 3px solid;
   top: 25%;
   right: 5%; 
   width: 35%;
   height: 25%;
   position: absolute;
}
p.Rosa{
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 35%;
    height: 25%;
    border: hsl(300, 15%, 70%) 4px solid;
    background-color: hsl(300, 100%, 95%);
    text-align: left;
}
p.Granate{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 35%;
    height: 25%;
    border: hsl(0, 15%, 45%) 4px solid;
    background-color: hsl(0, 100%, 85%);
    text-align: right
}
p:hover{
    z-index: 3;
}
